* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar-mia {
  display: flex;
  flex-direction: row;
  padding: 2em;
}
.navbar-mia .container-fluid .navbar-toggler {
  background-image: radial-gradient(rgba(255, 255, 255, 0.4784313725), rgba(66, 65, 65, 0.3333333333));
}
.navbar-mia .container-fluid .navbar-nav .active {
  color: #ff52a8;
}
.navbar-mia .container-fluid .navbar-nav a {
  margin: 10px;
  color: white;
  font-size: large;
}
.navbar-mia .container-fluid .navbar-nav a:hover {
  background-color: rgba(22, 22, 22, 0.7411764706);
  border-radius: 20px;
  color: #ff52a8;
  transition: ease-in 0.2s;
}

.container-header {
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/mendoza-portada-index.jpg");
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  height: 150px;
  color: white;
}
.footer address {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}
.footer .iconos-footer {
  list-style: none;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}

.main-mendoza {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sobre-nosotros .yo, .contrataciones .img-contrataciones, .section-bodegas, .main-index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formulario, .contrataciones, .iframe-mendoza {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-contacto .mapa-ubicacion iframe, .sobre-nosotros .yo img, .contrataciones .img-contrataciones img, .main-ruta-vino img, .zonas-mendoza .card, .iframe-mendoza .video-mendoza iframe, .main-index .img-main-index img, .carrusel-mio .carrusel-fotos-mio {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0.3em 0.3em 3em rgba(0, 0, 0, 0.5);
}

.sobre-nosotros .divisor, .contrataciones .divisor, .main-ruta-vino .divisor, .main-mendoza .divisor, .section-bodegas .detalle-bodegas .divisor, .main-index .parrafo-main-index .divisor {
  height: 6px;
  width: 180px;
  background-color: #ff52a8;
  margin-top: 10px;
  margin-bottom: 3em;
  border-radius: 10px;
  transition: all 400ms;
}
.sobre-nosotros .divisor:hover, .contrataciones .divisor:hover, .main-ruta-vino .divisor:hover, .main-mendoza .divisor:hover, .section-bodegas .detalle-bodegas .divisor:hover, .main-index .parrafo-main-index .divisor:hover {
  width: 550px;
}

.main-mendoza {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sobre-nosotros .yo, .contrataciones .img-contrataciones, .section-bodegas, .main-index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formulario, .contrataciones, .iframe-mendoza {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-contacto .mapa-ubicacion iframe, .sobre-nosotros .yo img, .contrataciones .img-contrataciones img, .main-ruta-vino img, .zonas-mendoza .card, .iframe-mendoza .video-mendoza iframe, .main-index .img-main-index img, .carrusel-mio .carrusel-fotos-mio {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0.3em 0.3em 3em rgba(0, 0, 0, 0.5);
}

.sobre-nosotros .divisor, .contrataciones .divisor, .main-ruta-vino .divisor, .main-mendoza .divisor, .section-bodegas .detalle-bodegas .divisor, .main-index .parrafo-main-index .divisor {
  height: 6px;
  width: 180px;
  background-color: #ff52a8;
  margin-top: 10px;
  margin-bottom: 3em;
  border-radius: 10px;
  transition: all 400ms;
}
.sobre-nosotros .divisor:hover, .contrataciones .divisor:hover, .main-ruta-vino .divisor:hover, .main-mendoza .divisor:hover, .section-bodegas .detalle-bodegas .divisor:hover, .main-index .parrafo-main-index .divisor:hover {
  width: 550px;
}

.carrusel-mio {
  width: 50%;
  padding-right: 10px;
}
.carrusel-mio .indicador-mio {
  background-color: #000000 !important;
  background-clip: border-box !important;
  width: 20px !important;
  height: 5px !important;
  border: 2px solid !important;
}
.carrusel-mio .carrusel-fotos-mio {
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .carrusel-mio {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  .carrusel-mio {
    width: auto;
    padding: 0;
  }
}

.main-index {
  margin: 5px;
  padding: 10px;
  height: 800px;
}
.main-index .parrafo-main-index h1 {
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
}
.main-index .parrafo-main-index p {
  text-align: justify;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  word-spacing: 4px;
  padding-right: 15px;
}
.main-index .img-main-index img {
  border-radius: 10px;
}

.section-bodegas {
  margin: 5px;
  padding: 10px;
  height: 800px;
}
.section-bodegas .detalle-bodegas {
  width: 50%;
  text-align: justify;
  padding-left: 10px;
}
.section-bodegas .detalle-bodegas h2 {
  color: #000000;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 10px;
}
.section-bodegas .detalle-bodegas p {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  word-spacing: 4px;
}

.iframe-mendoza {
  height: 700px;
  align-items: center;
}
.iframe-mendoza h2 {
  padding-bottom: 20px;
  text-align: center;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
}
.iframe-mendoza .video-mendoza iframe {
  border-radius: 10px;
  width: 900px;
  height: 600px;
}

.main-mendoza {
  margin: 5px;
  padding: 10px;
  height: 600px;
}
.main-mendoza h1 {
  padding-bottom: 10px;
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
}
.main-mendoza p {
  text-align: justify;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  word-spacing: 4px;
}

.zonas-mendoza {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "";
  gap: 15px;
  padding: 40px;
  text-align: justify;
}
.zonas-mendoza div {
  border-radius: 20px;
  transition: all 400ms;
}
.zonas-mendoza div:hover {
  transform: scale(1.01);
  background-color: white;
}
.zonas-mendoza .card {
  border: solid 1px black;
  height: 100%;
}
.zonas-mendoza .card img {
  border-radius: 20px;
}
.zonas-mendoza .card-body {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  word-spacing: 4px;
}
.zonas-mendoza .card-body h2 {
  text-align: center;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
}

.main-ruta-vino {
  margin: 20px 5px;
  padding: 10px;
  height: 900px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 0.1fr 0.7fr 0.3fr 0.3fr;
  grid-template-areas: "titulo-grid titulo-grid titulo-grid titulo-grid" "divisor divisor divisor divisor" "parraf-main parraf-main foto-main foto-main" "parraf-main parraf-main ruta1 ruta2" "parraf-main parraf-main ruta3 ruta4";
  gap: 5px;
}
.main-ruta-vino h1 {
  grid-area: titulo-grid;
  text-align: left;
  padding-bottom: 10px;
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
}
.main-ruta-vino p {
  grid-area: parraf-main;
  text-align: justify;
  text-align: justify;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  word-spacing: 4px;
  padding: 10px;
}
.main-ruta-vino img {
  margin: 5px;
  border-radius: 10px;
}
.main-ruta-vino .img-main-ruta {
  grid-area: foto-main;
  align-self: center;
  justify-self: center;
}
.main-ruta-vino .img-ruta1 {
  grid-area: ruta1;
  align-self: center;
  justify-self: center;
}
.main-ruta-vino .img-ruta2 {
  grid-area: ruta2;
  align-self: center;
  justify-self: center;
}
.main-ruta-vino .img-ruta3 {
  grid-area: ruta3;
  align-self: center;
  justify-self: center;
}
.main-ruta-vino .img-ruta4 {
  grid-area: ruta4;
  align-self: center;
  justify-self: center;
}

.contrataciones {
  height: 1100px;
  margin: 0 5px;
  padding: 10px;
}
.contrataciones h2 {
  text-align: left;
  padding-bottom: 10px;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
}
.contrataciones .img-contrataciones img {
  width: 45%;
  border-radius: 15px;
  margin: 5px;
}
.contrataciones .descripcion-contrataciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.3fr 1.5fr;
  grid-template-areas: "tour alojamiento" "p-tour-bici p-alojamiento";
  gap: 20px;
  margin: 5px;
}
.contrataciones .tour {
  grid-area: tour;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}
.contrataciones .p-tour-bici {
  grid-area: p-tour-bici;
  text-align: justify;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  word-spacing: 4px;
}
.contrataciones .alojamiento {
  grid-area: alojamiento;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}
.contrataciones .p-alojamiento {
  grid-area: p-alojamiento;
  text-align: justify;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  word-spacing: 4px;
}

.map {
  height: 700px;
}
.map iframe {
  width: 100%;
  height: 80%;
}

.sobre-nosotros {
  margin: 5px;
  padding: 10px;
}
.sobre-nosotros .titulo {
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
}
.sobre-nosotros .yo {
  align-items: center;
}
.sobre-nosotros .yo p {
  text-align: justify;
  padding-right: 10px;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  word-spacing: 4px;
}
.sobre-nosotros .yo img {
  margin-left: 10px;
  border-radius: 15px;
}

.main-mendoza {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-index, .section-bodegas, .contrataciones .img-contrataciones, .sobre-nosotros .yo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formulario, .iframe-mendoza, .contrataciones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-contacto .mapa-ubicacion iframe, .carrusel-mio .carrusel-fotos-mio, .main-index .img-main-index img, .iframe-mendoza .video-mendoza iframe, .zonas-mendoza .card, .main-ruta-vino img, .contrataciones .img-contrataciones img, .sobre-nosotros .yo img {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0.3em 0.3em 3em rgba(0, 0, 0, 0.5);
}

.main-index .parrafo-main-index .divisor, .section-bodegas .detalle-bodegas .divisor, .main-mendoza .divisor, .main-ruta-vino .divisor, .contrataciones .divisor, .sobre-nosotros .divisor {
  height: 6px;
  width: 180px;
  background-color: #ff52a8;
  margin-top: 10px;
  margin-bottom: 3em;
  border-radius: 10px;
  transition: all 400ms;
}
.main-index .parrafo-main-index .divisor:hover, .section-bodegas .detalle-bodegas .divisor:hover, .main-mendoza .divisor:hover, .main-ruta-vino .divisor:hover, .contrataciones .divisor:hover, .sobre-nosotros .divisor:hover {
  width: 550px;
}

.formulario {
  grid-area: formulario;
  text-align: center;
}
.main-contacto {
  margin: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 500px;
  grid-template-areas: "titulo-contacto titulo-ubicacion" "formulario mapa";
  align-items: center;
}
.main-contacto .titulo-contacto {
  grid-area: titulo-contacto;
  text-align: center;
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
}
.main-contacto .titulo-ubicacion {
  grid-area: titulo-ubicacion;
  text-align: center;
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
}
.main-contacto .mapa-ubicacion {
  grid-area: mapa;
  text-align: center;
}
.main-contacto .mapa-ubicacion iframe {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
