@import '../utilities/list';

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: nth($colors, 3);
    height: 150px;
    color: #ffff;

    address {
        display: inline-flex;
        align-content: center;
        flex-wrap: wrap;
    }

    .iconos-footer{
        list-style: none;
        display: inline-flex;
        align-content: center;
        flex-wrap: wrap;
    }
}