@import '../utilities/list';

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: nth($colors, 3);
    height: 150px;
    color: #ffff;

    address {
        display: inline-flex;
        align-content: center;
        flex-wrap: wrap;
    }

    .iconos-footer{
        list-style: none;
        display: inline-flex;
        align-content: center;
        flex-wrap: wrap;
    }

    @media(max-width: 768px) {
        font-size: smaller;
    }

    @media(max-width: 425px) {
        height: 110px;
        font-size: x-small;

        .iconos-footer{
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}