@import '../utilities/variables';
@import '../utilities/list';

.navbar-mia {
    background-image: linear-gradient(to right, $color-ppl, $color-sd);
}

.navbar-brand {
    height: 45px;
    width: 35px;
}

.nav-link {
    &:focus {
        background-color: $color-sd;
    }

    color: nth($colors, 2);
    font-size: nth($font-sizes, 2);
}

@media(max-width:768px) {
    .nav-link {
        font-size: medium;
    }   
}

@media(max-width:600px) {
    .nav-link {
        font-size: small;
    }
    
    .navbar-brand {
        width: 30px;
        height: 35px;
    }

    .navbar-toggler {
        width: 40px;
        height: 35px;
        align-items: center;
        padding: 0;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }
}

@media(max-width:480px) {
    .nav-link {
        font-size: x-small;
    }
}