@import '../utilities/variables';
@import '../utilities/list';


//Se crean mapas para los distintos títulos
$h1: (
    color: nth($colors, 3),
    font-size: 30px,
    font-weight: bolder,
);

$h2: (
    color: nth($colors, 3),
    font-size: 24px,
    font-weight: normal,
);

$h3: (
    color: nth($colors, 3),
    font-size: 20px,
    font-weight: normal,
);

$h4: (
    color: nth($colors, 3),
    font-size: 18px,
    font-weight: normal,
);

$h5: (
    color: nth($colors, 3),
    font-size: 16px,
    font-weight: normal,
);

$parraf:(
    color: nth($colors, 3),
    font-size: 18px,
    font-weight: normal,
    word-spacing: 4px,
);

$parraf2: (
    color: nth($colors, 3),
    font-size: 16px,
    font-weight: normal,
    word-spacing: 4px,
);

$parraf3: (
    color: nth($colors, 3),
    font-size: 14px,
    font-weight: normal,
    word-spacing: 4px,
);


